# Exclude external files
exclude: '^extern/'

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v19.1.6
  hooks:
    - id: clang-format
      types_or: [c++]

- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
    - id: isort
      name: isort (python)

- repo: https://github.com/psf/black
  rev: 24.1.1
  hooks:
    - id: black

- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      args: ["--max-line-length=88", "--extend-ignore=E203"]
